@page "/about"

<h1 class="center-text">About</h1>

<h3><u>Why Get A Website?</u></h3>
<p>With the digital world ever expanding, a website is the single most valuable tool a business can have.
 It allows customers to contact you, learn about you and most importantly buy products from you in the 
 most convenient way possible</p>